
/* Styling the search box */
/* .search-box {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
} */

#body {
    background-image: url('screen 2.gif');
    background-size: cover;
}

#commoditiesInput {
    width:200px;
    height:40px;
    margin-top: 230px;
    margin-left: 60px;
    font-size: 18px;
    border-radius: 15px;
    border:none;
    text-align: center;
}

#countriesInput {
    width:200px;
    height:40px;
    margin-top: 330px;
    margin-left: 380px;
    font-size: 18px;
    border-radius: 15px;
    border:none;
    text-align: center;
}

#submit {
    /* display: flex;
    margin-top: 50px;
    margin-left: 578px;
    font-size: 18px;
    border-radius: 15px;
    cursor: pointer;
    width: 90px;
    text-align: center; */
    padding: 10px 20px;    /* Add padding to the button */
    text-align: center;    /* Center the text horizontally */
    display: flex; /* Ensure the button behaves like a block element */
    vertical-align: middle; /* Align vertically if needed */
    border: 1px solid #ccc; /* Optional: add border to button */
    border-radius: 15px;    /* Optional: rounded corners */
    background-color: white; /* Optional: button background color */
    color: black;          /* Optional: text color */
    font-size: 16px;       /* Optional: font size */
    cursor: pointer;
    margin-left: 570px;
    margin-top: 40px;
    border: none;

}

#submit:hover {
    background-color: black;
    transition-duration: 0.5s;
    color: white;
}

